<ngx-charts-line-chart
  [results]="chartData"
  [gradient]="true"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  legendTitle="Observations"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="true">
</ngx-charts-line-chart>
<mat-form-field class="observation-input">
  <mat-select placeholder="Observation type" [(value)]="currentObservation"
              (selectionChange)="onObservationChange($event)">
    <mat-option *ngFor="let g of observationTypes" [value]="g">
      {{ g }}
    </mat-option>
  </mat-select>
</mat-form-field>
