:host {
  .form-section {
    display: grid;
    grid-template-columns: 150px 150px 150px ;
    grid-gap: 10px;
    margin-left: 10px;
    .header {
      grid-column-start: 0;
      grid-column-end: 5;
    }
  }
  .name-type {
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

}
